<%= render @quiz %>
<div class = "flex">
  <%= link_to "Edit this quiz", edit_quiz_path(@quiz), class: "btn-md mr-2" %>
  <%= link_to "Back to quizzes", quizzes_path, class: "btn-md mr-2" %>

  <%= button_to "Destroy this quiz", @quiz, method: :delete, class: "btn-md" %>
</div>
